<form [formGroup]="productForm" (submit)="onSubmit()">
  <label>Title</label>
  <input type="text" formControlName="title"  [class.error]="productForm.get('title')?.invalid && !productForm.get('title')?.touched">

  <label>Description</label>
  <textarea formControlName="description"></textarea>

  <label>Price</label>
  <input type="number" formControlName="price">

  <label>Discount Percentage</label>
  <input type="number" formControlName="discountPercentage" min="0" max="100">

  <label>Stock</label>
  <input type="number" formControlName="stock">

  <label>Brand</label>
  <input type="text" formControlName="brand">

  <label>Category</label>
  <input type="text" formControlName="category">

  <label>Thumbnail</label>
  <input type="file" formControlName="thumbnail">

  <label for="images">Images</label>
  <input type="file" formControlName="images" accept="image/*" id="images" multiple>

  <button type="submit" [disabled]="!productForm.valid">Create Product</button>
</form>
